In [10]:
import pandas as pd

In [11]:
sym = "TSLA"  # This is not case-sensitive
token = "pk_02b9983363f24c23b2f3da6175f4ff1e"
df_temp = pd.read_json('https://cloud.iexapis.com/stable/stock/'+sym+'/chart/1y?token='+token+'')

In [12]:
df_temp.head(3)

,date,open,close,high,low,volume,uOpen,uClose,uHigh,uLow,uVolume,change,changePercent,label,changeOverTime
0,2019-01-25,294.39,297.04,298.52,289.55,7258078,294.39,297.04,298.52,289.55,7258078,0.00,0.0000,"Jan 25, 19",0.000000
1,2019-01-28,292.91,296.38,297.46,287.75,6423279,292.91,296.38,297.46,287.75,6423279,-0.66,-0.2222,"Jan 28, 19",-0.002222
2,2019-01-29,295.27,297.46,298.56,291.80,4621692,295.27,297.46,298.56,291.80,4621692,1.08,0.3644,"Jan 29, 19",0.001414

In [13]:
df_temp.tail(3)

,date,open,close,high,low,volume,uOpen,uClose,uHigh,uLow,uVolume,change,changePercent,label,changeOverTime
249,2020-01-22,571.89,569.56,594.50,559.10,31369028,571.89,569.56,594.50,559.10,31369028,22.36,4.0863,"Jan 22, 20",0.917452
250,2020-01-23,564.25,572.20,582.00,555.60,19651042,564.25,572.20,582.00,555.60,19651042,2.64,0.4635,"Jan 23, 20",0.926340
251,2020-01-24,570.63,564.82,573.86,554.26,14353600,570.63,564.82,573.86,554.26,14353600,-7.38,-1.2898,"Jan 24, 20",0.901495

In [14]:
df_temp.set_index('date',inplace=True)

In [15]:
stock_hist = df_temp[['open','high','low','close','volume']]
stock_hist.head(3)

              open    high     low   close   volume
date
2019-01-25  294.39  298.52  289.55  297.04  7258078
2019-01-28  292.91  297.46  287.75  296.38  6423279
2019-01-29  295.27  298.56  291.80  297.46  4621692

In [0]:
stock_hist.tail(3)

In [0]:
length = len(stock_hist)
length